.contact {
  padding-top: 35px;
  background-color: var(--secondary-background-color);
  min-height: 90vh;
}
.youtubeLogo {
  color: #ff0200;
}

.instLogo {
  color: var(--secondary-background-color);
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 5px;
}
.linkedinLogo {
  color: #0c66c2;
}
.cta {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.email {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--brand-color);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}
.footerLink:hover {
  color: var(--highlight-color);
}
.copyright {
  background-color: var(--secondary-background-color);
}
