.navbarCss {
  background-color: var(--highlight-color);
  position: fixed;
  top: 0;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-weight: 500;
}
.navul {
  line-height: 200%;
}
.navbarIcon {
  transition: transform 0.2s ease-in-out;
}
.navbarIcon:hover {
  transform: scale(1.1);
}
.navItem {
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.navItem:hover {
  background-color: var(--brand-color);
  border-radius: 2px;
}
.navLink,
.transLink {
  color: white !important;
  text-decoration: none;
}
.navLink,
.transLink:hover {
  text-decoration: none;
}
.language {
  margin-right: 60px;
}
.language:hover {
  cursor: pointer;
}
