.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  display: flex;
  flex: 0 0 100%;
  min-width: 0;
  border: solid;
  justify-content: center;
  padding: 100px;
}
