:root {
  --brand-color: #6347ff;
  --secondary-color: #e0e0e0;
  --main-background-color: rgb(0, 0, 0);
  --overlay-color: #8763ffb0;
  --highlight-color: #8763ff;
  --secondary-background-color: #d2cce5;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
body {
  padding-top: 65px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.container1 {
  background-color: var(--secondary-color);
  min-height: 100vh;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container2 {
  background-color: var(--secondary-background-color);
  min-height: 100vh;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.brand {
  color: var(--brand-color);
}
.highlight {
  color: var(--secondary-color);
}
.title {
  display: flex;
  height: clamp(12.5rem, 15vw, 14rem);
  margin-bottom: 0px;
  align-items: center;
  padding-left: 18%;
  font-weight: bold;
  color: var(--secondary-background-color);
  text-shadow: var(--box-shadow);
  background-image:
    url(/logo-mid.png),
    linear-gradient(
      to right,
      rgba(99, 71, 255, 0.95) 0%,
      rgba(120, 170, 60, 0.85) 100%
    );
  background-size: 15%, 100%;
  background-repeat: no-repeat;
  background-position: left center;
}
.subhead {
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.02em;
}
.subhead2 {
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.02em;
  max-width: clamp(35ch, 63vw, 60ch);
  margin: 2rem auto;
}
.subtitle {
  font-size: clamp(1.05rem, 1rem + 0.3vw, 1.25rem);
  font-weight: 500;
  color: #565656;
  text-align: left;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.02em;
}

.bio {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #222;
  max-width: clamp(40ch, 50vw, 60ch);
  margin: 0 auto 1.25rem auto;
}

@media (max-width: 992px) {
  .content,
  .content2 {
    height: fit-content;
  }
}
@media (max-width: 767px) {
  .title {
    height: fit-content;
    padding-left: 10%;
    justify-content: left;
    background-image: linear-gradient(
      to right,
      rgba(99, 71, 255, 0.95),
      rgba(120, 170, 60, 0.85)
    );
    color: var(--secondary-color);
    background-size: 100%;
    padding-top: 56px;
    padding-bottom: 40px;
  }
}
