:root {
  --brand-color: #6347ff;
  --secondary-color: #e0e0e0;
  --main-background-color: rgb(0, 0, 0);
  --overlay-color: #8763ffb0;
  --highlight-color: #8763ff;
  --secondary-background-color: #d2cce5;
  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  --heavy-box-shadow: 0 3px 3px rgba(0, 0, 0, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
li {
  list-style: none;
}
p {
  font-size: 1.15rem;
}
.container1 {
  background-color: var(--secondary-color);
  min-height: 100vh;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container2 {
  background-color: var(--secondary-background-color);
  min-height: 100vh;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.brand {
  color: var(--brand-color);
}
.highlight {
  color: var(--secondary-color);
}
h1.homepage {
  font-size: 96px;
}
h3.homepage {
  font-size: 48px;
}
.title {
  height: 16.5rem;
  padding-top: 75px;
  padding-left: 15%;
  font-weight: bold;
  color: var(--secondary-background-color);
  text-shadow: var(--box-shadow);
  background-image:
    url(/logo-mid.png),
    linear-gradient(
      to right,
      rgba(99, 71, 255, 0.9) 0%,

      rgba(145, 198, 61, 0.95) 100%
    );
  background-size: 15%, 100%;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
@media (max-width: 1260px) {
  .title {
    background-position-y: 80%;
  }
}
@media (max-width: 992px) {
  .content,
  .content2 {
    height: fit-content;
  }
  .title {
    height: 12.5rem;
    background-position-y: 90%;
  }
}
@media (max-width: 767px) {
  .title {
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 25px;
  }
}
@media (max-width: 576px) {
  .title {
    height: fit-content;
    padding-bottom: 25px;
    background-color: var(--secondary-color);
    color: var(--main-background-color);
    background-image: none;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
  }
}
