.contact {
  padding-top: 35px;

  background-color: var(--secondary-background-color);
  min-height: 90vh;
}
.youtubeLogo {
  color: #ff0200;
}
.twitterLogo {
  color: black;
}
.instLogo {
  color: var(--secondary-color);
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 5px;
}
.githubLogo {
  color: var(--secondary-background-color);
  background-color: #86309f;
  border: #86309f solid 4px;
  border-radius: 50%;
}
.linkedinLogo {
  color: #0c66c2;
}
.email {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--brand-color);
  text-shadow: var(--box-shadow);
}
.footerLink:hover {
  color: var(--highlight-color);
}
.submit-button {
  background-color: var(--brand-color);
  color: var(--main-background-color);
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  border: none;
}
.submit-button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}
.footer-link:hover {
  color: var(--highlight-color);
}
